body{
    background-color: rgb(34,34,34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#titulo{
    flex-direction: column;
    line-height: 10px;
}

h1{
    font-weight: 200;

}
main{
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 25px;

}

@media screen and (max-width: 1030px){
    main{
        background-color: rgb(50, 50, 50);
        border-radius: 15px;
    }
}

h2{
    font-size: 56px;
    line-height: 2px;
    font-family: poppinsmedium;
}

aside > h2{
    font-size: 56px;
    line-height: 70px;
    font-family: poppinsmedium;
}

span{
    color: rgb(132,14,201);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 580px;
    min-width: auto;
}

@media screen and (max-width: 1023px) {
    img{
        opacity: 0;
    }
    
}



/*form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132,14,201);
    color: white;
    font-weight: bold;
}

form[type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.enviar{
    box-shadow: #500966 4px 4px 0px;
    transition: transform 200ms, box-shadow 200ms;
}

.enviar:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #500966 0px 0px 0px;
}*/

.fa {
    padding: 20px;
    margin: 5px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover{
      opacity: 0.7;
  }

  .fa-twitter{
      background:#00acee;
      color: white;

  }

  .fa-github{
      background: #171515;
      color: white;
  }

  .fa-instagram{
      background: #3f729b;
      color: white;
  }

  .fa-linkedin{
      background:#0e76a8;
      color: white;
  }

